@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-english: 'Roboto', system-ui, sans-serif;
  --font-bengali: 'Noto Sans Bengali', 'SolaimanLipi', sans-serif;

  --background: #f3f3f3;
  --foreground: #282628;
  --surface: #ffffff;
  --border: #ebebeb;

  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --background: #282628;
  --foreground: #ffffff;
  --surface: #383838;
  --border: #6f6e6f;
  color-scheme: dark;
}

@theme inline {
  --font-english: var(--font-english);
  --font-bengali: var(--font-bengali);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border: var(--border);

  --color-primary-50: #e9eff6;
  --color-primary-500: #1f5da0;
  --color-primary-600: #1c5592;

  --color-secondary-50: #e6f2ff;
  --color-secondary-500: #007bff;

  --color-neutral-50: #f2f2f2;
  --color-neutral-100: #d8d8d8;
  --color-neutral-300: #ababab;

  --color-success-50: #eaf8f1;
  --color-success-500: #2bb673;

  --color-danger-50: #fbe7e7;
  --color-danger-500: #d71110;
  --color-danger-600: #c40f0f;

  --color-black-100: #bcbcbc;
  --color-black-200: #9c9b9c;
  --color-black-300: #6f6e6f;
  --color-black-400: #383838;
  --color-black-500: #282628;
  --color-black-600: #242324;
  --color-black-700: #1c1b1c;
  --color-black-800: #161516;
  --color-black-900: #111011;

  --color-white-700: #ebebeb;

  --spacing-7.5: 30px;
  --spacing-17: 68px;
  --spacing-62: 248px;

  --shadow-custom-1: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  --shadow-custom-2: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-english);
}

input:-webkit-autofill {
  -webkit-text-fill-color: #000 !important;
  transition: background-color 9999s ease-in-out 0s;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .heading-1 {
    @apply text-lg font-bold text-neutral-300;
  }
}

@layer components {
  .input-label {
    @apply text-sm font-medium w-fit h-fit;
  }

  .input-field {
    @apply mt-1 w-full border border-neutral-300 text-sm rounded-lg px-2 py-[7px] outline-none hover:border-primary-500;
  }

  .input-error {
    @apply text-red-500 text-sm;
  }
}
