@import "tailwindcss";

:root {
  --font-english: "Roboto", system-ui, sans-serif;
  --font-bengali: "Noto Sans Bengali", "SolaimanLipi", sans-serif;

  --background: #F3F3F3;
  --foreground: #282628;
  --surface: #FFFFFF;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  
  --font-english: var(--font-english);
  --font-bengali: var(--font-bengali);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282628;
    --foreground: #FFFFFF;
    --surface: #383838;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-english);
}